html, body {
  margin: 0%;
  padding 0%;
  height: 400vw;
  width: 100%;
  box-sizing: border-box;
}

.experience-element-active, .experience-element-collapsible:hover {
  background-color: #555;
}
  
a {
  text-decoration: none;
  color: black;
  transition: color 0.25s ease;
}

.menu-bar {
  display: flex;
  border-bottom: 0.25vw solid;
  justify-content: center;
  align-items: flex-end;
  white-space: nowrap;
  padding: 0;
}

.menu-bar-header {
  flex: 1 1 0;
  font-size: 3vw;
  margin-right: 10vw;
  margin-left: 1vw;
  height: 3.5vw;
}
.menu-bar-header:hover {
  font-size: 2.75vw;
  font-weight: bold;
}

.menu-bar-tab {
  font-size: 1.75vw;
  margin-right: 2vw;
  padding: 0.25vw;
  transition: background-color 0.25s ease;
}
.menu-bar-tab:last-child {
  margin-right: 1vw;
}
.menu-bar-tab:hover {
  background-color: none; /* Highlight background on hover */
  cursor: pointer; /* Changes cursor to pointer */
}
.menu-bar-tab:hover a {
  font-size: 1.65vw;
  color: black;
  font-weight: bold;
}

.selected-tab {
  font-size: 1.65vw;
  font-weight: bold;
}
.menu-bar-tab:hover ~ .selected-tab {
  font-weight: normal;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  margin: 0%;
  padding: 0%;
}

.introduction {
  height: 28vw;
  width: auto;
  display: flex;
  margin-top: 6vw;
  margin-left: 16vw;
  margin-right: 16vw;
}
.introduction-image {
  height: 24vw;
  width: auto;
  border: 0.5vw solid;
}
.introduction-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.introduction-content {
  flex: 1 1 0;
  height: 25vw;
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
}
.introduction-header {
  font-size: 2.25vw;
  font-weight: bold;
  margin-top: .25vw;
  margin-left: .25vw;
}
.introduction-subheader {
  font-size: 1.5vw;
  font-weight: bold;
  margin-top: .5vw;
  margin-left: .25vw;
}
.introduction-body {
  flex: 1 1 0;
  font-size: 1.5vw;
  margin-top: .75vw;
  margin-left: .25vw;
}
.introduction-medias {
  height: auto;
  margin-top: .75vw;
  margin-left: .25vw;
  margin-bottom: .5vw;
  display: flex;
}
.introduction-hotlink {
  height: auto;
  width: 25%;
  border: .15vw solid;
  text-align: center;
  margin-right: .5vw;
}

.education-certifications {
  height: 32vw;
  width: auto;
  display: flex;
  margin-top: 2.5vw;
  margin-left: 16vw;
  margin-right: 16vw;
}
.education {
  flex: 1 1 0;
  max-width: 50%;
  border: .15vw solid;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
}

.education-header {
  height: auto;
  font-size: 1.75vw;
  font-weight: bold;
  padding-left: 1.5vw;
  border-top: .15vw solid;
}
.education-subheader {
  font-size: 1.4vw;
  font-weight: bold;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  margin-top: .15vw;
  border-bottom: .15vw solid;
}
.education-body {
  flex: 1 1 0;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  margin-top: .75vw;
  font-size: 1.25vw;
}

.certifications {
  flex: 1 1 0;
  max-width: 50%;
  border: .15vw solid;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
}
.education-certifications-box {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  margin-bottom: .4vw;
}
.certificate {
  flex: 1 1 0;
  border-top: .15vw solid;
  display: flex;
  flex-direction: column;
}
.certificate-header {
  font-size: 1.4vw;
  font-weight: bold;
  padding-left: .25vw;
  padding-top: .25vw;
}
.certificate-subheader {
  font-size: 1.25vw;
  padding-left: .25vw;
}

.experience-box {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2.5vw;
  margin-left: 16vw;
  margin-right: 16vw;
}
.experience-box-header {
  border: .15vw solid;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}
.experience-content {
  flex: 1 1 0;
}
.experience-element {
  margin-top: 1.75vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
}
.experience-element-header-box {
  width: 100%;
  display: flex;
  padding-bottom: .5vw;
}
.experience-element-company {
  width: 35%;
  font-size: 1.5vw;
  font-weight: bold;
}
.experience-element-job_title {
  width: 65%;
  font-size: 1.5vw;
  font-weight: bold;
}
.experience-element-body-box {
  flex; 1 1 0;
  display: flex;

}
.experience-element-timeline {
  width: 35%;
  font-size: 1.4vw;

}
.experience-element-descriptions {
  width: 65%;
  margin: 0%;
}
.experience-element-descriptions li {
  font-size: 1.25vw;
  margin-bottom: .25vw;
  margin-left: 0%;
  list-style-position: outside;
  text-align: left;
}

.experience-element-collapsible {
  width: 100%;
  height: 2.5vw;
  border: .15vw solid;
  font-size: 1.75vw;
  cursor: pointer;
  text-align: center;
}
.experience-element-dropdown-content {
  border: .15vw solid;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  height: auto;
}

.skills {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  margin-top: 4vw;
  margin-left: 16vw;
  margin-right: 16vw;
}
.skills-header {
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  border: .15vw solid;
}
.skills-content {
  flex: 1 1 0;
}
.skill-box {
  display: flex;
  height: auto;
  border-bottom: .25vw solid;
  margin-top: 2vw;
}
.skill-content-box {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.skill-header {
  font-size: 1.75vw;
  font-weight: bold;
}
.skill {
  height: 3vw;
  width: 100%;
  display: flex;
  border: .15vw solid;
  border-radius: .5vw;
  margin-bottom: .75vw;
}
.skill-img {
  height: 100%;
  width: auto;
}
.skill-img img {
  height: 100%;
  width: 100%;
}
.skill-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1.25vw;
}
.skill-subheader {
  font-size: 1.5vw;
  font-weight: bold;
}
.skill-time {
  font-size: 1vw;
}

.projects {
  height: 15vw;
  width: auto;
  display: flex;
  flex-direction: column;
  border: .15vw solid;
  margin-left: 16vw;
  margin-right: 16vw;
  margin-top: 5vw;
}
.projects-header {
  height: 2vw;
  width: 100%;
  font-size: 1.75vw;
  font-weight: bold;
  text-align: center;
  border: .15vw solid;
}
.projects-content {
  flex: 1 1 0;
  height: 100%;
  width: 100%;
  display: flex;
  border: .15vw solid;
}
.project {
  height: 3vw;
  width: 100%;
  display: flex;
  border: .15vw solid;
}


.involvements {
  height: 15vw;
  width: 100%;
  border: .15vw solid;
}

