

html, body {
  --color-background: #000;
  --color-text: #fff0f4;
  
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
  
  background-color: var(--color-background, white);
  color: var(--color-text, black);
  overflow: hidden;
}



.menu {
  position: fixed;
  display: flex;
  height: auto;
  width: 100vw;
  border-bottom: .25vh solid white;
  background-color: var(--color-background, white);
}
.menu span {
	font-size: 2.5vw;
	align-self: flex-end;
}
.menu-tabs {
	margin-left: auto;
}
.menu-tabs button {
	display: inline-flex;
	align-items: flex-end;
	font-size: 1.33vw;
	height: 100%;
	width: auto;
	background-color: var(--color-background, white);
	color: var(--color-text, black);
	border: none;
}
.menu-tabs button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.container {
  border: .25vw solid yellow;
  height: 100vh;
  width: 100vw;
}