/* Global variables*/
:root {
  --h1_font_size: 45px;
  --h2_font_size: 25px;
  --h3_font_size: 20px;
  --p_font_size: 17.5px;
  
  --320px_p: 0.2666;
  --375px_p: 0.3125;
  --414px_p: 0.345;
  --600px_p: 0.5;
  --768px_p: 0.64;
  --992px_p: 0.8266;
  
  --margin: 40px;
  
  --border_1: 15px;
  --border_2: 10px;
  --border_3: 5px;
  --border_4: 2.5px;
  
  --timeline_left_width: 400px;
  --timeline_right_width: 800px;
  --ul_left_alignment: 35px;
}

/* Base Styles (for very small mobile devices like 320px) */
@media (max-width: 375px) {  
  :root {
    --timeline_left_width: calc((var(--timeline_left_width) * var(--320px_p)) - (var(--margin) * 2));
    --timeline_right_width: calc((var(--timeline_right_width) * var(--320px_p)) - (var(--margin) * 2));
  }
  html, body {
    overflow: auto;
    margin: 0;
    padding: 0;
    margin-right: calc(var(--margin) * var(--320px_p));
    margin-left: calc(var(--margin) * var(--320px_p));
    min-width: var(--320px_p);
  }
  /* Font size resizing based on the @media sizes dynamically */
  h1 {
    font-size: calc(var(--h1_font_size) * var(--320px_p));
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: calc(var(--h2_font_size) * var(--320px_p));
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: calc(var(--h3_font_size) * var(--320px_p));
    margin: 0;
    padding: 0;
  }
  p {
    font-size: calc(var(--p_font_size) * var(--320px_p));
    margin: 0;
    padding: 0;
  }
  li {
	  font-size: calc(var(--p_font_size) * var(--320px_p));
	  margin: 0;
  }
  ul {
	  margin: 0;
	  padding-left: calc(var(--ul_left_alignment) * var(--375px_p));
  }
}

/* 375px and up (for most modern mobile phones) */
@media (min-width: 375px) {
  :root {
    --timeline_left_width: calc((var(--timeline_left_width) * var(--375px_p)) - (var(--margin) * 2));
    --timeline_right_width: calc((var(--timeline_right_width) * var(--375px_p)) - (var(--margin) * 2));
  }
  html, body {
    overflow: auto;
    margin: 0;
    padding: 0;
    margin-right: calc(var(--margin) * var(--375px_p));
    margin-left: calc(var(--margin) * var(--375px_p));
    min-width: var(--375px_p);
  }
  /* Font size resizing based on the @media sizes dynamically */
  h1 {
    font-size: calc(var(--h1_font_size) * var(--375px_p));
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: calc(var(--h2_font_size) * var(--375px_p));
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: calc(var(--h3_font_size) * var(--375px_p));
    margin: 0;
    padding: 0;
  }
  p {
    font-size: calc(var(--p_font_size) * var(--375px_p));
    margin: 0;
    padding: 0;
  }
  li {
	  font-size: calc(var(--p_font_size) * var(--375px_p));
	  margin: 0;
  }
  ul {
	  margin: 0;
	  padding-left: calc(var(--ul_left_alignment) * var(--375px_p));
  }
}

/* 414px and up (larger smartphones and phablets) */
@media (min-width: 414px) {
  :root {
    --timeline_left_width: calc((var(--timeline_left_width) * var(--414px_p)) - (var(--margin) * 2));
    --timeline_right_width: calc((var(--timeline_right_width) * var(--414px_p)) - (var(--margin) * 2));
  }
  html, body {
    overflow: auto;
    margin: 0;
    padding: 0;
    margin-right: calc(var(--margin) * var(--414px_p));
    margin-left: calc(var(--margin) * var(--414px_p));
    min-width: var(--414px_p);
  }
  /* Font size resizing based on the @media sizes dynamically */
  h1 {
    font-size: calc(var(--h1_font_size) * var(--414px_p));
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: calc(var(--h2_font_size) * var(--414px_p));
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: calc(var(--h3_font_size) * var(--414px_p));
    margin: 0;
    padding: 0;
  }
  p {
    font-size: calc(var(--p_font_size) * var(--414px_p));
    margin: 0;
    padding: 0;
  }
  li {
	  font-size: calc(var(--p_font_size) * var(--414px_p));
	  margin: 0;
  }
  ul {
	  margin: 0;
	  padding-left: calc(var(--ul_left_alignment) * var(--414px_p));
  }
}

/* 600px and up (small tablets or phablets) */
@media (min-width: 600px) {
  :root {
    --timeline_left_width: calc((var(--timeline_left_width) * var(--600px_p)) - (var(--margin) * 2));
    --timeline_right_width: calc((var(--timeline_right_width) * var(--600px_p)) - (var(--margin) * 2));
  }
  html, body {
    overflow: auto;
    margin: 0;
    padding: 0;
    margin-right: calc(var(--margin) * var(--600px_p));
    margin-left: calc(var(--margin) * var(--600px_p));
    min-width: var(--600px_p);
  }
  /* Font size resizing based on the @media sizes dynamically */
  h1 {
    font-size: calc(var(--h1_font_size) * var(--600px_p));
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: calc(var(--h2_font_size) * var(--600px_p));
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: calc(var(--h3_font_size) * var(--600px_p));
    margin: 0;
    padding: 0;
  }
  p {
    font-size: calc(var(--p_font_size) * var(--600px_p));
    margin: 0;
    padding: 0;
  }
  li {
	  font-size: calc(var(--p_font_size) * var(--600px_p));
	  margin: 0;
  }
  ul {
	  margin: 0;
	  padding-left: calc(var(--ul_left_alignment) * var(--600px_p));
  }
}

/* Medium devices (768px and up) */
@media (min-width: 768px) {
  :root {
    --timeline_left_width: calc((var(--timeline_left_width) * var(--768px_p)) - (var(--margin) * 2));
    --timeline_right_width: calc((var(--timeline_right_width) * var(--768px_p)) - (var(--margin) * 2));
  }
  html, body {
    overflow: auto;
    margin: 0;
    padding: 0;
    margin-right: calc(var(--margin) * var(--768px_p));
    margin-left: calc(var(--margin) * var(--768px_p));
    min-width: var(--768px_p);
  }
  /* Font size resizing based on the @media sizes dynamically */
  h1 {
    font-size: calc(var(--h1_font_size) * var(--768px_p));
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: calc(var(--h2_font_size) * var(--768px_p));
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: calc(var(--h3_font_size) * var(--768px_p));
    margin: 0;
    padding: 0;
  }
  p {
    font-size: calc(var(--p_font_size) * var(--768px_p));
    margin: 0;
    padding: 0;
  }
  li {
	  font-size: calc(var(--p_font_size) * var(--768px_p));
	  margin: 0;
  }
  ul {
	  margin: 0;
	  padding-left: calc(var(--ul_left_alignment) * var(--768px_p));
  }
}

/* Large devices (992px and up) */
@media (min-width: 992px) {
  :root {
    --timeline_left_width: calc((var(--timeline_left_width) * var(--992px_p)) - (var(--margin) * 2));
    --timeline_right_width: calc((var(--timeline_right_width) * var(--992px_p)) - (var(--margin) * 2));
  }
  html, body {
    overflow: auto;
    margin: 0;
    padding: 0;
    margin-right: calc(var(--margin) * var(--992px_p));
    margin-left: calc(var(--margin) * var(--992px_p));
    min-width: var(--992px_p);

  }
  /* Font size resizing based on the @media sizes dynamically */
  h1 {
    font-size: calc(var(--h1_font_size) * var(--992px_p));
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: calc(var(--h2_font_size) * var(--992px_p));
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: calc(var(--h3_font_size) * var(--992px_p));
    margin: 0;
    padding: 0;
  }
  p {
    font-size: calc(var(--p_font_size) * var(--992px_p));
    margin: 0;
    padding: 0;
  }
  li {
	  font-size: calc(var(--p_font_size) * var(--992px_p));
	  margin: 0;
  }
  ul {
	  margin: 0;
	  padding-left: calc(var(--ul_left_alignment) * var(--992px_p));
  }
}

/* Extra large devices (1200px and up) */
@media (min-width: 1200px) {
  :root {
    --timeline_left_width: calc(var(--timeline_left_width) - (var(--margin) * 2));
    --timeline_right_width: calc(var(--timeline_right_width) - (var(--margin) * 2));
  }
  html, body {
    overflow: auto;
    margin-left: var(--margin);
    margin-right: var(--margin);
  }
  h1 {
    font-size: var(--h1_font_size);
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: var(--h2_font_size);
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: var(--h3_font_size);
    margin: 0;
    padding: 0;
  }
  p {
    font-size: var(--p_font_size);
    margin: 0;
    padding: 0;
  }
  li {
	  font-size: var(--p_font_size);
	  margin: 0;
  }
  ul {
	  margin: 0;
	  padding-left: var(--ul_left_alignment);
  }
}


.container {
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  height: 100vh;
  min-width: calc(375px - var(--margin) * 2);
  
  align-items: flex-start;
  justify-content: flex-start;

}
.experience {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--timeline_right_width);
}
.exp_left_box {
  display: flex;
  flex-direction: column;
  
  width: 24.5%;
  
}
.exp_right_box {
  width: 71%;
  
  display: flex;
  flex-direction: column;
}
.exp_right_box_header_box {
  display: flex;
  margin-bottom: 1%;
}
.exp_right_box_header_box_right {
  margin-left: auto;
}
.exp_right_box ul {
}
.exp_right_box li {
  margin: 0;
  margin-bottom: 1%;
  
  list-style: square;
}
.experience::after {
  content: '';
  position: absolute;
  width: 1.25vw;
  height: 1.25vw;
  border: .5vw solid black;
  border-radius: 50%;
  z-index: 1;
  
  background-color: white;
  
  left: 25.75%;
  
  transform: translateX(-50%);
}
.experience::before {
  content: '';
  position: absolute;
  z-index: 1;
  
  bottom: 0;
  top: 0;
  left: 25.75%;
  top: 0;
  bottom: 0;
  width: .25vw;
  background-color: black;
  transform: translateX(-50%);
}
.exp_mid_box {
  width: 4.5%;
}