/* Global variables*/
:root {
  --h1_font_size: 45px;
  --h2_font_size: 25px;
  --h3_font_size: 20px;
  --p_font_size: 17.5px;
  
  --320px_p: 0.2666;
  --375px_p: 0.3125;
  --414px_p: 0.345;
  --600px_p: 0.5;
  --768px_p: 0.64;
  --992px_p: 0.8266;
  
  --margin: 40px;
  
  --border_1: 15px;
  --border_2: 10px;
  --border_3: 5px;
  --border_4: 2.5px;
  
  --timeline_left_width: 400px;
  --timeline_right_width: 800px;
  --ul_left_alignment: 35px;
  --menubar_height: 45px;
}


/* Small devices (minimum up to 600px) */
@media (max-width: 600px) {
  :root {
    --timeline_left_width: calc((var(--timeline_left_width) * var(--600px_p)) - (var(--margin) * 2));
    --timeline_right_width: calc((var(--timeline_right_width) * var(--600px_p)) - (var(--margin) * 2));
    --menubar_height: calc(var(--menubar_height) * var(--600px_p));
  }
  body {
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  .container {
    margin-right: calc(var(--margin) * var(--600px_p));
    margin-left: calc(var(--margin) * var(--600px_p));
    height: calc(100vh - var(--menubar_height));
  }
  .menu {
    height: var(--menubar_height);
  }
  /* Font size resizing based on the @media sizes dynamically */
  h1 {
    font-size: calc(var(--h1_font_size) * var(--600px_p));
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: calc(var(--h2_font_size) * var(--600px_p));
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: calc(var(--h3_font_size) * var(--600px_p));
    margin: 0;
    padding: 0;
  }
  p {
    font-size: calc(var(--p_font_size) * var(--600px_p));
    margin: 0;
    padding: 0;
  }
  li {
	  font-size: calc(var(--p_font_size) * var(--600px_p));
	  margin: 0;
  }
  ul {
	  margin: 0;
	  padding-left: calc(var(--ul_left_alignment) * var(--600px_p));
  }
}

/* Medium devices (600px to 768px) */
@media (min-width: 600px) and (max-width: 768px) {
  :root {
    --timeline_left_width: calc((var(--timeline_left_width) * var(--768px_p)) - (var(--margin) * 2));
    --timeline_right_width: calc((var(--timeline_right_width) * var(--768px_p)) - (var(--margin) * 2));
    --menubar_height: calc(var(--menubar_height) * var(--768px_p));
  }
  body {
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  .container {
    margin-right: calc(var(--margin) * var(--768px_p));
    margin-left: calc(var(--margin) * var(--768px_p));
    height: calc(100vh - var(--menubar_height));
  }
  .menu {
    height: var(--menubar_height);
  }
  /* Font size resizing based on the @media sizes dynamically */
  h1 {
    font-size: calc(var(--h1_font_size) * var(--768px_p));
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: calc(var(--h2_font_size) * var(--768px_p));
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: calc(var(--h3_font_size) * var(--768px_p));
    margin: 0;
    padding: 0;
  }
  p {
    font-size: calc(var(--p_font_size) * var(--768px_p));
    margin: 0;
    padding: 0;
  }
  li {
	  font-size: calc(var(--p_font_size) * var(--768px_p));
	  margin: 0;
  }
  ul {
	  margin: 0;
	  padding-left: calc(var(--ul_left_alignment) * var(--768px_p));
  }
}

/* Large devices (768px to 1200px) */
@media (min-width: 768px) and (max-width: 1200px) {
  :root {
    --timeline_left_width: calc((var(--timeline_left_width) * var(--992px_p)) - (var(--margin) * 2));
    --timeline_right_width: calc((var(--timeline_right_width) * var(--992px_p)) - (var(--margin) * 2));
    --menubar_height: calc(var(--menubar_height) * var(--992px_p));
  }
  body {
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  .container {
    margin-right: calc(var(--margin) * var(--992px_p));
    margin-left: calc(var(--margin) * var(--992px_p));
    height: calc(100vh - var(--menubar_height));
  }
  .menu {
    height: var(--menubar_height);
  }
  /* Font size resizing based on the @media sizes dynamically */
  h1 {
    font-size: calc(var(--h1_font_size) * var(--992px_p));
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: calc(var(--h2_font_size) * var(--992px_p));
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: calc(var(--h3_font_size) * var(--992px_p));
    margin: 0;
    padding: 0;
  }
  p {
    font-size: calc(var(--p_font_size) * var(--992px_p));
    margin: 0;
    padding: 0;
  }
  li {
	  font-size: calc(var(--p_font_size) * var(--992px_p));
	  margin: 0;
  }
  ul {
	  margin: 0;
	  padding-left: calc(var(--ul_left_alignment) * var(--992px_p));
  }
}

/* Extra large devices (1200px and maximum) */
@media (min-width: 1200px) {
  :root {
    --timeline_left_width: calc(var(--timeline_left_width) - (var(--margin) * 2));
    --timeline_right_width: calc(var(--timeline_right_width) - (var(--margin) * 2));
  }
  body {
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  .container {
    margin-left: var(--margin);
    margin-right: var(--margin);
    height: calc(100vh - var(--menubar_height));
  }
  .menu {
    height: var(--menubar_height);
  }
  h1 {
    font-size: var(--h1_font_size);
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: var(--h2_font_size);
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: var(--h3_font_size);
    margin: 0;
    padding: 0;
  }
  p {
    font-size: var(--p_font_size);
    margin: 0;
    padding: 0;
  }
  li {
	  font-size: var(--p_font_size);
	  margin: 0;
  }
  ul {
	  margin: 0;
	  padding-left: var(--ul_left_alignment);
  }
}



.menu {
  display: flex;
  width: 100%;

  background-color: black;

  color: white;
  align-items: flex-end;
  text-align: end;
}
.menu h1 {
  text-align: end;
  margin: 0;
}
.menu-tabs {
  margin-left: auto;
}
.menu-tabs button {
	display: inline-flex;
	align-items: flex-end;
  
  height: 100%;
  
	background-color: black;
	color: white;
	border: none;
  
  margin-right: auto;
}
.menu-tabs button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.container {

  overflow-y: auto;
  

  -ms-overflow-style: none;  /* Hides scrollbar in Internet Explorer and Edge */
  scrollbar-width: none;     /* Hides scrollbar in Firefox */
  
  align-items: center;
  justify-content: flex-start;
  
  border: 2px solid black;

  scroll-snap-type: y mandatory;

}

.box {
  border: 2px solid black;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  overflow-y: auto;
}

#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.aboutme {

}
.aboutme h3 {
  font-weight: normal;
}


