@layer base;

@layer base {
  :root {
	overflow: hidden;
    --color-background: #000;
    --color-text: #fff0f4;
  }
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background, white);
  color: var(--color-text, black);
  overflow: hidden;
}



.menu {
  display: flex;
  height: 7.5vh;
  width: 100vw;
  border-bottom: .25vh solid white;
  background-color: var(--color-background, white);
}
.menu span {
	font-size: 5vh;
	align-self: flex-end;
}
.menu-tabs {
	margin-left: auto;
}
.menu-tabs button {
	display: inline-flex;
	align-items: flex-end;
	font-size: 2.5vh;
	height: 100%;
	background-color: var(--color-background, white);
	color: var(--color-text, black);
	border: none;
}
.menu-tabs button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.container {
  height: 92.5vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow: auto;
}
.container::-webkit-scrollbar {
	display: none;
}
.container {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.box {
  display: flex;
  height: 100%;
  width: 100%;
  
  justify-content: center;
  align-items: center;
  
  border-bottom: .25vw solid white;
  
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.about {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.about_box_1 {
	display: flex;
	height: 50%;
	width: 50%;
}
.about_box_1 img {
	height: 100%;
	object-fit: cover;
	border: .15vw solid white;
}
.about_box_1_content {
	display: flex;
	flex-direction: column;
	margin-left: 1vw;
}
#about_me_header {
	font-size: 6vh;
	font-weight: bold;
}
#about_me_body {
	font-size: 3vh;
}

.about_box_2 {
	display: flex;
	height: 5%;
	width: 50%;
	margin-top: 2.5vh;
}
.about_box_2 button {
	flex: 1 1 5vw;
	display: inline-flex;
	border: none;
	margin-right: 1.5vw;
	font-size: 1.75vw;
	text-align: center;
}
.about_box_2 button:last-child {
	margin-right: 0vw;
}
.about_box_2 button:hover {
	cursor: pointer;
}

.skills {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.skills_row_1 {
	display: flex;
	height: 100%;
	width: calc(50% - .15vw);
	border: .15vw solid green;
}

#mouse-scroll {
  style: block;
}
#mouse-scroll {
  position: fixed;
  margin: 0;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  z-index: 9999;
}
#mouse-scroll span{
  display: block;
  width: 5px; 
  height: 5px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid #fff; 
  border-bottom: 2px solid #fff;
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #ffffff;
  top: 170px;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite; 
    -moz-animation: mouse-scroll 1s infinite:
}
#mouse-croll .down-arrow-1 {
   -webkit-animation-delay: .1s; 
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s; 
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
   -webkit-animation-delay: .3s;
   -moz-animation-dekay: .3s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block; 
  margin: 5px auto;
  background: #ffffff;
  position: relative;
}
#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}



.education {
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 50%;
}
.education_box {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.education_header_box {
	height: auto;
	width: 100%;
	display: flex;
}
#education_title {
	font-size: 2rem;
	font-weight: bold;
	border-bottom: .25vw solid white;
}
#education_header {
	font-size: 1.66rem;
	font-weight: bold;
}
#education_timeline {
	margin-left: auto;
	font-size: 1.66rem;
	font-weight: bold;
}
.education_subheader_box {
	height: auto;
	weight: 100%;
	display: flex;
	flex-direction: column;
}
#education_subheader {
	font-size: 1.33rem;
	font-weight: bold;
}
.education_content_box {
	display: flex;
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;
}
#education_majors {
	font-size: 1.33rem;
	font-weight: bold;
	width: 45%;
}
#education_coursework {
	font-size: 1.15rem;
	width: 45%;
	margin-left: auto;
}


.certification_box {
	height: auto;
	width: 100%;
	margin-top: 2.5vh;
	display: flex;
	flex-direction: column;
}
#certification_header {
	font-size: 2rem;
	font-weight: bold;
	border-bottom: .25vh solid white;
}
.certification_list {
	font-size: 1.66rem;
	
}


#experience_box {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
#experience_box_title {
	font-size: 2.25rem;
	font-weight: bold;
}
.experience {
	display: flex;
	flex-direction: column;
	border: .15vw solid white;
	width: 80%;
	height: 90%;
}
.experience_header {
	display: flex;
	height: auto;
	border-bottom: .15vw solid white;
}
.experience_title {
	font-size: 2rem;
	font-weight: bold;
	height: auto;
	width: 50%;
}
.experience_timeframe {
	font-size: 2rem;
	font-weight: bold;
	height: auto;
	width: 60%;
	margin-left: auto;
}
.experience_content {
	display: flex;
	height: 100%;
	width: 100%;
	margin-top: 1.5vh;
}
.experience_position {
	width: 40%;
	height: 100%;
}
.experience_list {
	width: 60%;
	height: auto;
	margin-top: 0;
}
