html, body {
  --color-background: #000;
  --color-background-body: #ffffff;
  --color-text: #ffffff;
  --color-text-body: #000; 
  
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
  
  background-color: var(--color-background-body, black);
  color: var(--color-text-body, white);
  overflow: hidden;
}



.menu {
  position: fixed;
  display: flex;
  width: 100vw;
  min-height: 2.5vw;
  border-bottom: .25vh solid white;
  background-color: var(--color-background, white);
}
.menu span {
	font-size: 2.5vw;
	align-self: flex-end;
	color: var(--color-text, black);
}
.menu-tabs {
	margin-left: auto;
	margin-right: 1vw;
}
.menu-tabs button {
	display: inline-flex;
	align-items: flex-end;
	font-size: 1.33vw;
	height: 100%;
	width: auto;
	background-color: var(--color-background, white);
	color: var(--color-text, black);
	border: none;
}
.menu-tabs button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}


.container {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}
.container::-webkit-scrollbar {
	display: none;
}
.container {
	-ms-overflow-style: none;
	scrollbar-width: none;
}


.box {
  display: flex;
  height: 100%;
  width: 100%;
  
  margin: 0;
  padding: 0;
  
  margin-top: 5vw;
  
  justify-content: center;
  align-items: center;
  
  border-bottom: .25vw solid black;
  
	
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}


#about {
	display: flex;
	flex-direction: column;
	height: calc(100% - .25vw);
	width: calc(100% - 40vw);
	
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}
.about_box_1 {
	display: flex;
	height: 18vw;


}
.about_box_1 img {
	height: calc(100% - .25vw);
	object-fit: cover;
	border: .25vw solid black;
}
.about_box_1_content {
	display: flex;
	flex-direction: column;
	margin-left: 1.5vw;
	height: 100%;
}
#about_me_header {
	font-size: 2.66vw;
	font-weight: bold;
}
#about_me_body {
	font-size: 1vw;
}
.about_me_buttons {
	margin-right: auto;
	margin-top: auto;
}
.about_me_buttons button {
	flex: 1 1 5vw;
	display: inline-flex;
	border: none;
	margin-right: .66vw;
	font-size: 1vw;
	text-align: center;
	margin-top: 1.5vw;
}
.about_me_buttons button:last-child {
	margin-right: 0vw;
}
.about_me_buttons button:hover {
	cursor: pointer;
}

.skills_container {
	display: flex;
	height: 16vw;
	width: 100%;
	
	margin-top: 1.66vw;
}
.skills {
	flex: 1 1 0;
	height: 100%;
	
	
	
	display: flex;
	flex-direction: column;
}
.skills_title {
	text-align: middle;
	align-self: center;
	border-bottom: .15vw solid black;
	font-size: 1.5vw;
	font-weight: bold;
	
	margin-bottom: .5vw;
}
.skill {
	display: flex;
	height: 2.33vw;
	width: 85%;
	border: .15vw solid black;
	text-align: middle;
	align-items: center;
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .33vw;
}
.skill:last-child {
	margin-bottom: 0vw;
}
.skill img {
	height: 100%;
	object-fit: cover;
}
.skill_content {
	display: flex;
	flex-direction: column;
}
.skill_header {
	font-size: 1.25vw;
	font-weight: bold;
	margin-left: 1vw;
}
.skill_timeline {
	font-size: 1vw;
	margin-left: 1vw;
}


#mouse-scroll {
  style: block;
}
#mouse-scroll {
  position: fixed;
  margin: 0;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  z-index: 9999;
}
#mouse-scroll span{
  display: block;
  width: 2.5px; 
  height: 2.5px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid #000; 
  border-bottom: 2px solid #000;
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #000;
  top: 170px;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite; 
    -moz-animation: mouse-scroll 1s infinite:
}
#mouse-croll .down-arrow-1 {
   -webkit-animation-delay: .1s; 
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s; 
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
   -webkit-animation-delay: .3s;
   -moz-animation-dekay: .3s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block; 
  margin: 5px auto;
  background: #000;
  position: relative;
}
#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}



#knowledge {
	display: flex;
	flex-direction: column;
	
	height: calc(100% - .25vw);
	width: calc(100% - 15vw);
	
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	

}
.education {
	display: flex;
	height: 12.5vw;
	width: 100%;

}
#education_title {
	width: 40%;

	
	font-size: 2vw;
	font-weight: bold;
}
.education_content {
	width: 60%;
	display: flex;
	flex-direction: column;
	
}
#education_subheader {
	font-size: 1.66vw;
	font-weight: bold;
}
#education_box_1 {
	display: flex;
	margin-top: .75vw;
}
#education_header {
	font-size: 1.5vw;
	font-weight: bold;
}
#education_timeline {
	font-size: 1.5vw;
	margin-left: auto;
}
#education_study {
	font-size: 1.33vw;
	margin-top: .50vw;
}
#education_body {
	font-size: 1.33vw;
}

.certification {
	display: flex;
	height: 20vw;
	width: 100%;
}
#certification_title {
	width: 40%;
	height: 100%;
	
	font-size: 2vw;
	font-weight: bold;
}
#certification_content {
	width: 60%;
	height: 100%;
}
#certification_content ul {
	margin: 0;	
}
#certification_content li {
	margin: 0;
}
.certificate {
	display: flex;
	flex-direction: column;
	
	height: 3vw;
	width: auto;
	
	margin-bottom: .75vw;
}
.certificate:last-child {
	margin-bottom: 0;
}
.certificate_header {
	display: flex;
}
.certificate_name {
	text-align: bottom;

	font-size: 1.33vw;
	font-weight: bold;
}
.certificate_timeframe {
	margin-left: auto;
	text-align: bottom;
	
	font-size: 1.33vw;

}
.certificate_institute {
	font-weight: italic;
	font-size: 1.25vw;
	
}




.experience {
	position: relative;
	max-width: 100vh;
	margin: 0 auto;
}
.experience::after {
	content: '';
	position: absolute;
	width: 6px;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}
.experience_item {
	padding: 10px 40px;
	position: relative;
	width: 50%;
}
.experience_item::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	border: 4px solid #FF9F55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
	left: 50%;
}
.experience_item_content {
	padding: 20px 30px;
	position: relative;
	border-radius: 6px;
}
